<!-- Footer html  -->
<footer class="footer">
  <br><br><br>
    <div class="footer-content">
      <div class="container">
        <div class="row">
          <div class="col-sm-6 col-md-4">

          </div>
          <div class="col-sm-6 col-md-4">

          </div>
          <div class="col-sm-6 col-md-4">
            <h5 style="font-weight: bold;">Etudiant M2 PLS:</h5>
            <p>
              RAKOTOMAMONJY Andriatsiiavonana Sitraka Mbolatiana
            </p>
          </div>
        </div>
      </div>
    </div>
  </footer>
