<nav class="navbar navbar-default" style="position: sticky; top:0; overflow: auto;">
    <div class="container-fluid">
      <div class="navbar-header" style="
          margin-top: 6px;
          margin-bottom: 6px;
          margin-left: 19px;
          margin-right: 20px; 
      ">
      </div>
      <ul class="nav navbar-nav" style="
        margin-top: 8px;
        margin-left: 0px;
        margin-bottom: 6px;
        ">
        <li><a href="/enquete">Enquete</a></li>
      </ul>
    </div>
  </nav>
